
.TITULOG{
    display: grid;
    place-items: center;  
    place-content: center; 
    height: 20vh;
    width: 45vw;
    color: #ffffff;
    background-color: #ec1b23;
    font-family: Bebas neue;
    font-size: 110px;}
.BackgroundP{
    background-color: black;
    height: 45vh;
    width: 200vh;
    display: grid;
    place-items: center;
    place-content: center; }
.Whitehr{
    background-color: #ffffff;
    height: 300px;
    clip-path: polygon(0% 100%,100% 65%, 100% 0%, 0% 12%);
    margin-bottom: 10vh;
    background: linear-gradient(to left, #151515, #ffffff,#ffffff,#ffffff,#ffffff);}
.AirMenu{
    background-color: #151515;
    width: 100%;
    height: 15vh; 
    background: linear-gradient(to right, #151515, #151010);}
.CapitanAm{
    filter: brightness(90%);}
.MovieAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
.Logo2{
    max-width: 100%;
    max-height: 100%;}
.General{
    width: 100%;
    height: 170vh;}
.GeneralGG{
    width: 100%;
    height: 190vh;}
.Background0{
    background-color: black;
    width: 100%;
    height: 15vh;}
.Background015{
    width: 100%;
    height: 101vh;
    background-color: #151515;
    clip-path: polygon(0% 100%,100% 65%, 100% 0%, 0% 0%);
    display: flex;
    justify-content: space-between;}
.Background015GG{
    width: 100%;
    height: 120vh;
    background-color: #151515;
    clip-path: polygon(0% 100%,100% 65%, 100% 0%, 0% 0%);
    display: flex;
    justify-content: space-between;}
    .Background015GGG{
        width: 100%;
        height: 180vh;
        background-color: #151515;
        display: flex;
        justify-content: space-between;}
.Separate{
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    width: 100%;
    height: 100px;}
.BoxNote{
    width: 50vw;
    height: 19vh;
    background-color: #ffffff;
    position: relative;
    left: 40%;
    border-radius: 30px;
    transition: 0.8s;}
.BoxNote:hover{
    background-color: #ec1b23;
    color: #ffffff;}
.BoxNoteP2{
        margin-right: 9.45vw;
        margin-bottom: 20vh;
        background-color: #ffffff;
        width: 50vw;
        height: 80vh;}
    .BoxNoteP2GG{
    margin-right: 9.45vw;
    margin-bottom: 10vh;
    background-color: #ffffff;
    width: 50vw;
    height: 95vh;}
        .BoxNoteP2GGG{
        margin-right: 9.45vw;
        margin-bottom: 10vh;
        background-color: #ffffff;
        width: 50vw;
        height: 170vh;
        border-bottom-left-radius:10px;border-bottom-right-radius:10px;
    overflow-y: auto;}
.ImgCA{
    width: 20vw;
    height: 60vh;
    margin-left: 8vw;
    margin-top: 10vh;
    margin-bottom: 20vh;
    filter: opacity(0.8);
    transition: 0.8s;}
    .ImgCAG{
        width: 20vw;
        height: 60vh;
        margin-left: 8vw;
        margin-top: 55vh;
        margin-bottom: 45vh;
        filter: opacity(0.8);
        transition: 0.8s;}
.IMGP{
    max-width: 100%;
    max-height: auto;
    background-color: blue;}
.ImgCA:hover,.ImgCAG:hover{
    opacity: 1;
    scale: 1.15;
    filter: contrast(110%);}
.Descripcion{
    color: #ec1b23;
    text-align: center;
    margin-top: 4vh;
    font-size: 45px;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.5s;}
.Descripcion:hover{
    color: #ffffff;}
.DatoExtra{
    Color: #ffffff;
    width: 65%;
    height: 65vh;
    background-color: #151515;
    border-radius: 30px;
    position: relative;
    left: 25%;}
.Black{
    background-color: black;
    width: 100%;
    height: 60vh;}
.TituloEx{
    color: #ffffff;
    font-size: 45px;
    position: relative;
    text-align: center;
    top: 30px;
    font-family: "Bebas Neue", sans-serif;}
.TextoAlign{
    position: relative;
    top: 15px;
    left: 40px;
    text-align: justify;
    margin-bottom: 30px;
    width: 85%;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;}
.TextoAlignp1{
    position: relative;
    top: 10px;
    left: 40px;
    text-align: justify;
    margin-bottom: 30px;
    width: 85%;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;}
.FinalDescripcion{
    background-color: #000000;
    height: 120vh;
    width: 100%;
}
.DescFinh{
    font-family: Bebas Neue;
    font-size: 60px;
    font-style: italics;
    letter-spacing:5px;
    color: white;
    margin-top: 15vh;
    margin-left: 10vw;
}
.DescFinp, .DescFinpCh{
    text-align: justify;
    margin-bottom: 30px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 23px;
    margin-top: 3vh;
    margin-left: 13vw;
    margin-right: 20vw;
    color: white;
    overflow-y: auto;
    height:  50vh;
    width: 46%;
    padding: 3vw;}
    .DescFinpCh{
width: 65%;
font-size: 19px;
margin: 4vh;
    }
body::-webkit-scrollbar, .DescFinp::-webkit-scrollbar,.BoxNoteP2GG::-webkit-scrollbar,.BoxNoteP2::-webkit-scrollbar{
    width: 12px;
    background-color: #151515;}
    .BoxNoteP2GGG::-webkit-scrollbar{
        width: 12px;
        background-color: white;}
    
body::-webkit-scrollbar-thumb, .BoxNoteP2GGG::-webkit-scrollbar-thumb, .DescFinp::-webkit-scrollbar-thumb,.BoxNoteP2GG::-webkit-scrollbar-thumb,.BoxNoteP2::-webkit-scrollbar-thumb{
    background-color: #c6a972;
    border-radius: 4px;
    height: 20px;
    width: 8;}
